@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap&text=FelipAndrea');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  scroll-behavior: smooth;
}



body{
    background: radial-gradient(50% 50% at 50% 50%,rgba(254, 250, 249, 0.30) 60.42%,rgba(235, 205, 173, 0.60) 100%),#F8ECE0;
}