@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap&text=FelipAndra');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  scroll-behavior: smooth;
}

body{
  background: radial-gradient(50% 50% at 50% 50%,rgba(254, 250, 249, 0.30) 60.42%,rgba(235, 205, 173, 0.60) 100%),#F8ECE0 url('https://raw.githubusercontent.com/SebaFarias/sorting-viewer/3ac81d54736cdd92fc1196f812cf9513460f2d7d/src/assets/background-noise.png');
}

.papel{
  background: radial-gradient(50% 50% at 50% 50%,rgba(254, 250, 249, 0.30) 60.42%,rgba(235, 205, 173, 0.40) 100%),#F8ECE0 url('https://raw.githubusercontent.com/SebaFarias/sorting-viewer/3ac81d54736cdd92fc1196f812cf9513460f2d7d/src/assets/background-noise.png');
}
.agranda{
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.agranda:hover{
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  transform: scale(1.05);
}
.cortada{
  border-right-style: dashed;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hide{
  opacity: 0;
}
